extends layout

block content
    .jumbotron
      .container
        h1 BlackBoard: Nepal's first Cloud Learning Site
        p(style="color:white") Welcome to the BlackBoard. This is the first Learning site of the Nepal. We are here to make easier learning like never before.<br> With just a Smartphone of and Computer Explore with hidden possibilities.
        a.btn.btn-primary.btn-lg(href="#") Start Learning with BlackBoard &raquo;

    .container
     .row
      .col-md-4
        h2 About Us
        p We are the BlackBoard and the team. The is Learning site Created by Web Nepal as the first Cloud Based Learning site for making learning easier like never before.
        We have courses for entrance preparation as well as other skills which will help people to achieve life they are dreaming off.
      .col-md-4
        h2 Courses
        p We are the BlackBoard and the team. The is Learning site Created by Web Nepal as the first Cloud Based Learning site for making learning easier like never before.
        We have courses for entrance preparation as well as other skills which will help people to achieve life they are dreaming off.
      .col-md-4
        h2 Test
        p We are the BlackBoard and the team. The is Learning site Created by Web Nepal as the first Cloud Based Learning site for making learning easier like never before.
        We have courses for entrance preparation as well as other skills which will help people to achieve life they are dreaming off.
